.Search-screen-section {
  min-width: 270px;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.Search-screen-aside {
  max-width: 20%;
  min-width: 280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Search-screen-box {
  min-height: 200px;
  width: 260px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 12px 0 #e6e5e5;
  margin: 20px 10px 0 10px;
}
